<a href="https://colab.research.google.com/github/ChristianBenedict-Gomez/CPEN-21A-ECE-2-1/blob/main/Demo_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Python Programming

In [56]:
#Python Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [ ]:
##Python Variable:

In [27]:
x=1
a, b=0, 1
a,b,c= "zero","one","two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [25]:
d = "Dict" #This is a string
D = "Chris"
print(d)
e="Ian"
print(e)
print(D)

Dict
Ian
Chris

In [22]:
print(type(d)) #This is a type function
print(type(x))

<class 'str'>
<class 'int'>

#Casting

In [19]:
f = float(4)
print(f)
g = float(5)
g = int(5)

4.0

##Multiple Variables with One Value

In [28]:
x=y=z= "four"
print(x)
print(y)
print(z)

four
four
four

In [31]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

#Operations in Python

In [46]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x+y)
print(x*y)
print(x)

19
84
12

In [53]:
x = 5
y = 7

not(x>y or y==x)

True

In [ ]:
x = 5
y = 7

not(x>y or y==x)

In [54]:
x is y

False

In [55]:
x is not y

True