<a href="https://colab.research.google.com/github/ChristianBenedict-Gomez/CPEN-21A-ECE-2-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [1]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [4]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping Through String

In [6]:
for x in "Python Programming":
  print(x)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

The Range () Function

In [13]:
for x in range(16):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [15]:
for x in range(2, 16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

Nested Loops

In [16]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [20]:
i = 1
while i<6:
  print(i)
  i+=1 #Assignment operator for Addition

1
2
3
4
5

The Break Statement

In [21]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The Continue Statement

In [23]:
i = 0
while i<6:
  i+=1 #Assignment Operator for Addition
  if i==3:
    continue
  print(i)

1
2
4
5
6

The Else Statement

In [25]:
i = 1
while i<=6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

Application 1

In [33]:
#Creat a Python program that displays Hello 0 to Hello 10 in vertival sequence

hi = ["Hello"]
no = ["0","1","2","3","4","5","6","7","8","9","10"]
#For Loop
for x in hi:
  for y in no:
    print(x, y)

#While Loop
  i = 0
  while i<=10:
    print("Hello",i)
    i+=1 #Assignment operator to increment i
  else:
    print("i is no longer less than 10")

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
i is no longer less than 10

Application 2

In [55]:
#Creare a Python Program that displays intergers less than 10 but not less than 3

i = 0
while i<10:
  i+=1 #Assignment Operator Increment 1
  if i<3:
    continue
  if i==10:
    break
  print(i)

3
4
5
6
7
8
9